    body {
    margin = 0;
    background-image: url(backgroundhome.gif);
    background-size: cover;

     }
    /* or if you want no repeat just stretch
    background:  url("pathtoimage/image.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }